<!DOCTYPE html>
<html lang="en">
<head>
    <title>Listings System Manager</title>
    <link rel="icon" type="image/x-icon" href="layout.png">
    <style>
        @import url("https://rsms.me/inter/inter.css");
        :root {
        --color-light: white;
        --color-dark: #212121;
        --color-signal: #fab700;
        --color-background: var(--color-light);
        --color-text: var(--color-dark);
        --color-accent: var(--color-signal);
        --size-bezel: .5rem;
        --size-radius: 4px;
        line-height: 1.4;
        font-family: "Inter", sans-serif;
        font-size: calc(.6rem + .4vw);
        color: var(--color-text);
        background: var(--color-background);
        font-weight: 300;
        padding: 0 calc(var(--size-bezel) * 3);
        }

        h1, h2, h3 {
        font-weight: 900;
        }

        mark {
        background: var(--color-accent);
        color: var(--color-text);
        font-weight: bold;
        padding: 0 0.2em;
        }

        .card {
        background: var(--color-background);
        padding: calc(4 * var(--size-bezel));
        margin-top: calc(4 * var(--size-bezel));
        border-radius: var(--size-radius);
        border: 3px solid var(--color-shadow, currentColor);
        box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
        }

        .card *:first-child {
        margin-top: 0;
        }

        .l-design-widht {
        max-width: 40rem;
        padding: 1rem;
        }

        .input {
        position: relative;
        }
        .input__label {
        position: absolute;
        left: 0;
        top: 0;
        padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
        margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
        background: pink;
        white-space: nowrap;
        transform: translate(0, 0);
        transform-origin: 0 0;
        background: var(--color-background);
        transition: transform 120ms ease-in;
        font-weight: bold;
        line-height: 1.2;
        }
        .input__field {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border: 3px solid currentColor;
        padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
        color: currentColor;
        background: transparent;
        border-radius: var(--size-radius);
        }
        .input__field:not(:-moz-placeholder-shown) + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--color-accent);
        }
        .input__field:not(:-ms-input-placeholder) + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--color-accent);
        }
        .input__field:focus + .input__label, .input__field:not(:placeholder-shown) + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--color-accent);
        }

        .button-group {
        margin-top: calc(var(--size-bezel) * 2.5);
        }

        button {
        color: currentColor;
        padding: var(--size-bezel) calc(var(--size-bezel) * 2);
        background: var(--color-accent);
        border: none;
        border-radius: var(--size-radius);
        font-weight: 900;
        }
        button[type=reset] {
        background: var(--color-background);
        font-weight: 200;
        }

        button + button {
        margin-left: calc(var(--size-bezel) * 2);
        }

        .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        }

        .hidden {
        display: none;
        }
</style>

</head>
<body>
  <center>
    <article class="l-design-widht">
        <h1>Listings System Manager</h1>
      
        <p><mark>⚠️</mark> WARNING: Please ensure accurate input <mark>⚠️</mark></p>
        
        <p>Your input is crucial for the proper functioning of this system. Incorrect data may lead to errors and unexpected outcomes. Take a moment to double-check your entries before proceeding.</p>
        
        <form style="text-align: left;" action="/update-fashionphile-login" method="POST">
          <div class="card">
              <h2><svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-coffee" href="#icon-coffee"></use></svg>Fashionphile Login</h2>
              <div>
                <label class="input" >
                  <input class="input__field" type="email" name="email" autocomplete="off" value="<%= (data)?data.email:'' %>">
                  <span class="input__label">Email Address</span>
                </label>
              </div>
              <div style="margin-top: 10px;">
                <label class="input">
                  <input class="input__field" type="password" name="password" value="<%= (data)?data.password:'' %>" >
                  <span class="input__label">Password</span>
                </label>
              </div>
  
              <div class="button-group">
                <button type="submit" style="cursor: pointer;">Save</button>
                <button style="cursor: pointer;" type="reset">Reset</button>
              </div>
            </div>
        </form>
    </article>   
    <article class="l-design-widht">
      <h3>Fetch and Upload Listings based on sheets data</h3>
      <p>To ensure smooth functionality and accurate results, it is crucial to provide valid and properly formatted URLs. Mistakes in URL input may lead to errors or broken links.</p>
      <p>
        Please follow these guidelines: <br>
        🌐 Check for correct spelling and structure in the URL. <br>
        🔗 Include the full address, including "http://" or "https://". <br>
        🔍 Confirm the accuracy of each segment in the URL.
      </p>
      <button id="fetch_listings" type="button" style="cursor: pointer;">Fetch Listings</button>
      <button id="upload_listings" type="button" style="cursor: pointer;">Upload Listings</button>
    </article>
  </center>
</body>

    <svg xmlns="http://www.w3.org/2000/svg" class="hidden">
      <symbol id="icon-coffee" viewBox="0 0 20 20">
        <title>icon-coffee</title>
        <path fill="currentColor" d="M15,17H14V9h3a3,3,0,0,1,3,3h0A5,5,0,0,1,15,17Zm1-6v3.83A3,3,0,0,0,18,12a1,1,0,0,0-1-1Z"></path>
        <rect fill="currentColor" x="1" y="7" width="15" height="12" rx="3" ry="3"></rect>
        <path fill="var(--color-accent)" d="M7.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,0,1-1.79.89Z"></path>
        <path fill="var(--color-accent)" d="M3.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,1,1-1.79.89Z"></path>
        <path fill="var(--color-accent)" d="M11.07,5.42a5.45,5.45,0,0,1,0-4.85,1,1,0,0,1,1.79.89,3.44,3.44,0,0,0,0,3.06,1,1,0,1,1-1.79.89Z"></path>
      </symbol>
    </svg>

    <script>
  
       const fetchlist = document.querySelector('#fetch_listings')
       const uplist = document.querySelector('#upload_listings')

       fetchlist.onclick = () => { 
          location.href = window.location.origin + '/fetch-listings'
       }

       uplist.onclick = () => {
          location.href = window.location.origin + '/upload-listings'
       }
    </script>
</html>